<template data-controller-name="sa.config.controllers.Menu">
<div class="mainNav" data-sap-ui-type="sap.ui.layout.VerticalLayout">
	<div class="menuItem" data-sap-ui-type="sap.ui.layout.VerticalLayout">
		<div data-sap-ui-type="sap.m.Image" data-press="goToIndex" data-src="images/menu_Index.png">
		</div>
	</div>
	<div class="account menuItem" data-sap-ui-type="sap.ui.layout.VerticalLayout">
		<div data-sap-ui-type="sap.m.Image" data-press="goToAccount" data-src="images/menu_Accounts.png">
		</div>
	</div>
	<div class="visit menuItem" data-sap-ui-type="sap.ui.layout.VerticalLayout">
		<div data-sap-ui-type="sap.m.Image" data-press="goToVisit" data-src="images/menu_Visits.png">
		</div>
	</div>
	<div class="contact menuItem" data-sap-ui-type="sap.ui.layout.VerticalLayout">
		<div data-sap-ui-type="sap.m.Image" data-press="goToContact" data-src="images/menu_Contacts.png">
		</div>
	</div>
	<div class="opp menuItem" data-sap-ui-type="sap.ui.layout.VerticalLayout">
		<div data-sap-ui-type="sap.m.Image" data-press="goToOpp" data-src="images/menu_Opportunities.png">
		</div>
	</div>
	<div class="task menuItem" data-sap-ui-type="sap.ui.layout.VerticalLayout">
		<div data-sap-ui-type="sap.m.Image" data-press="goToTask" data-src="images/menu_Tasks.png">
		</div>
	</div>
	<div class="lead menuItem" data-sap-ui-type="sap.ui.layout.VerticalLayout">
		<div data-sap-ui-type="sap.m.Image" data-press="goToLead" data-src="images/menu_Leads.png">
		</div>
	</div>
	<div class="userManagement menuItem" data-sap-ui-type="sap.ui.layout.VerticalLayout">
		<div data-sap-ui-type="sap.m.Image" data-press="goToUserManagement" data-src="images/menu_General.png">
		</div>
	</div>
</div>
</template>