<template data-controller-name="sa.config.controllers.Overview">
		<div class="appTitle" data-sap-ui-type="sap.m.Label" data-text-align="Center" data-text="{i18n>appTitle}"></div>
		<div data-sap-ui-type="sap.m.TileContainer" data-width="75%" style="margin:auto;" data-height="75%">		
			<div data-sap-ui-type="sap.m.CustomTile" class="overviewItem" data-press="goToGeneral">
				<div class="customTile" data-sap-ui-type="sap.ui.layout.VerticalLayout">
				<div class="tileLabel" data-sap-ui-type="sap.m.Label" data-text-align="Center" data-text="{i18n>general}" data-press="goToGeneral"></div>
					<div class="sapUiIcon menuGeneral"></div>
					
				</div>
			</div>	
			<div data-sap-ui-type="sap.m.CustomTile" class="overviewItem" data-press="goToAccount">
				<div class="customTile" data-sap-ui-type="sap.ui.layout.VerticalLayout" data-press="goToAccount">
					<div class="tileLabel" data-sap-ui-type="sap.m.Label" data-text-align="Center" data-text="{i18n>account}" data-press="goToAccount"></div>
					<div class="sapUiIcon menuAccount"></div>
				</div>
			</div>
			<div data-sap-ui-type="sap.m.CustomTile" class="overviewItem" data-press="goToVisit">
				<div class="customTile" data-sap-ui-type="sap.ui.layout.VerticalLayout" data-press="goToVisit">
					<div class="tileLabel" data-sap-ui-type="sap.m.Label" data-text-align="Center" data-text="{i18n>visit}"></div>
					<div class="sapUiIcon menuVisit"></div>
				</div>
			</div>
			<div data-sap-ui-type="sap.m.CustomTile" class="overviewItem" data-press="goToContact">
				<div class="customTile" data-sap-ui-type="sap.ui.layout.VerticalLayout" data-press="goToContact">
					<div class="tileLabel" data-sap-ui-type="sap.m.Label" data-text-align="Center" data-text="{i18n>contact}"></div>
					<div class="sapUiIcon menuContact"></div>
				</div>
			</div>
			<div data-sap-ui-type="sap.m.CustomTile" class="overviewItem" data-press="goToOpp">
				<div class="customTile" data-sap-ui-type="sap.ui.layout.VerticalLayout" data-press="goToOpp">
					<div class="tileLabel" data-sap-ui-type="sap.m.Label" data-text-align="Center" data-text="{i18n>opp}"></div>
					<div class="sapUiIcon menuOpp"></div>
				</div>
			</div>
			<div data-sap-ui-type="sap.m.CustomTile" class="overviewItem" data-press="goToTask">
				<div class="customTile" data-sap-ui-type="sap.ui.layout.VerticalLayout" data-press="goToTask">
					<div class="tileLabel" data-sap-ui-type="sap.m.Label" data-text-align="Center" data-text="{i18n>task}"></div>
					<div class="sapUiIcon menuTask"></div>
				</div>
			</div>
			<div data-sap-ui-type="sap.m.CustomTile" class="overviewItem" data-press="goToLead">
				<div class="customTile" data-sap-ui-type="sap.ui.layout.VerticalLayout" data-press="goToLead">
					<div class="tileLabel" data-sap-ui-type="sap.m.Label" data-text-align="Center" data-text="{i18n>lead}"></div>
					<div class="sapUiIcon menuLead"></div>
				</div>
			</div>
			<div data-sap-ui-type="sap.m.CustomTile" class="overviewItem" data-press="goToSalesOrder">
				<div class="customTile" data-sap-ui-type="sap.ui.layout.VerticalLayout" data-press="goToSalesOrder">
					<div class="tileLabel" data-sap-ui-type="sap.m.Label" data-text-align="Center" data-text="{i18n>salesOrder}"></div>
					<div class="sapUiIcon menuSalesOrder"></div>
				</div>
			</div>	
			<div data-sap-ui-type="sap.m.CustomTile" class="overviewItem" data-press="goToUserManagement">
				<div class="customTile" data-sap-ui-type="sap.ui.layout.VerticalLayout" data-press="goToUserManagement">
					<div class="tileLabel" data-sap-ui-type="sap.m.Label" data-text-align="Center" data-text="{i18n>userManagementForOverView}"></div>
					<div class="sapUiIcon menuGeneral"></div>
				</div>
			</div>
		</div>
</template>